.app {
  display: flex;
  width: 100vw;
}



@media (min-width: 2000px) {

  .center {

    width: 2000px;
    max-width: 2000px;
    overflow: hidden;
    margin: 0 auto !important;
  }
}

@media (max-width: 768px) {
  iframe {
    margin-top: 70px;
  }

}