.LoaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 1000px;
    z-index: 9999;
    transition: all .3s ease-in-out;
}

.loaderOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 188, 37, .5);
    width: 100%;
    height: 100%;
}

.whitebg {
    background-color: var(--white);
}

.loader {
    position: relative;
    background-color: var(--white);
    width: 200px;
    height: 200px;
    border-radius: 100vw;
    overflow: hidden;
    border: solid  3px var(--white);
}

.mapIcon{
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out infinite;
}

.botIcon{
    position: absolute;
    z-index: 1001;
    scale: .5;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.loader p {
    position: absolute;
    width: fit-content;
    font-family: Nunito Sans;
    font-size: .75rem;
    font-weight: 400;
    text-wrap: nowrap;
    z-index: 1002;
    color: var(--black);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 3s ease-in-out infinite;
}

.revolvers{
    position: relative;
    transform-origin: bottom;
    animation: rotate360 2s linear infinite;
}

.revolver{
    background: #eff3da;
    height: 100px;
    width: 100px;
    border-radius: 100% 10% 0% 10% / 100% 10% 0% 10%;
}

.revolver:last-child {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(35deg);
    transform-origin: bottom right;
}


@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



